.popular {
    margin-top: 95px;
}

.category {
    font-weight: bold;
}

.cardTitle {
    position: relative;
    color: white;
    text-align: center;
    justify-content: end;
    background-color: #0000008a;
    padding-top: 5px;
    padding-bottom: 15px;
    bottom: -15px;
    border-radius: 0 0 15px 15px;
}

.cardNew{
    padding: 8px;
    border: unset;
}

.cardPopular{
    border-radius: 15px;
    border: none;
}

.imgNew {
    border-radius: 15px;
    object-fit: cover;
}

.imgPopular {
    margin: 10px;
    align-items: center;
}

.imgPopular img {
    border-radius: 25px;
}

.labelNew {
    padding-right: 4px;
    padding-left: 4px;
}

.more {
    font-size: large;
    color: blue;
    text-align: right;
    cursor: pointer;
}

.namePopular {
    color: #666666;
}

.taste {
    font-size: 20px;
    color: #B6B6B6;
    margin-bottom: 0px;
}

.star {
    padding: 5px;
    background-color: orange;
    color: white;
    border-radius: 50%;
    font-size: 35px;
}

.link {
    cursor: pointer;
}

@keyframes placeHolderShimmer {
    0% {
      background-position: -800px 0
    }
    100% {
      background-position: 800px 0
    }
  }

.animatedBg {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 120px;
    position: relative;
  }
