.bgOrange {
    height: 300px;
    background-color: #EEC302;
}

.imgProfile {
    border-radius: 50%;
}

.name {
    color: white;
}

.getUp {
    margin-top: -50px;
}

.card {
    border-radius: 25px;
    height: 80vh;
    background-color: white;
}

.icon {
    font-size: 30px;
    color: #EEC302;
}

.cur {
    cursor: pointer;
}