.seachFixed {
    padding-top: 25px;
    padding-bottom: 10px;
    box-sizing: border-box;
    box-shadow:  1px 10px 15px -10px rgba(0,0,0,0.51);
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
}